body {
    background-image: url('country-quilt.png');
}

/* This keeps all the buttons the same color. */
.btn {
    border: 0px;
    background-color: #eb6864;
    color: white;
}

/* This turns the buttons pink on hover as well as gets rid of the underline. Border color/padding matches bootstrap's css so it doesn't clash. */
.btn:hover {
    background-color: pink;
    color: black;
    text-decoration: none;
    border: 1px;
    border-color: #aaa;
    padding: 6px 16px;
}

/* This makes the background of the main container white which makes the text is easier to read! */
.container-sm {
    background-color: white;
    padding: 20px;
    border-color: #aaa;
}

img {
    padding: 10px;
}