body {
    background-image: url('country-quilt.png');
}

/* This turns the button pink on hover! Border color matches border color from bootstrap's css so it doesn't clash. */
.btn-primary:hover {
    background-color: pink;
    color: black;
    border: 1px;
    border-color: #aaa;
}

img {
    padding: 10px;
}

/* This makes the background of the main container white which makes the text is easier to read! */
.container-sm {
    background-color: white;
    padding: 20px;
    border-color: #aaa;
}
